@font-face {
  font-family: "Athiti";
  src: url("../fonts/athiti.woff") format("woff"),
    url("../fonts/athiti.woff2") format("woff2");
}

@font-face {
  font-family: "SF";
  src: url("../fonts/SF.otg") format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF", sans-serif;
  text-decoration: none;
  list-style: none;
}

nav {
  display: flex;
  /* height: 8vh; */
  justify-content: space-between;
  padding: 1%;
  margin-bottom: 2vh;
  -webkit-box-shadow: 0px 10px 7px -3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 10px 7px -3px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 10px 7px -3px rgba(0, 0, 0, 0.38);
  align-content: center;
}

nav div {
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
}

.logo img {
  height: 6vh;
  width: auto;
}

#app {
  display: flex;
  flex-direction: column;
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.profile-btn {
  color: white;
  border-radius: 107px 107px 107px 107px;
  -moz-border-radius: 107px 107px 107px 107px;
  -webkit-border-radius: 107px 107px 107px 107px;
  padding: 1.2vh 1.5vw;
  background: rgb(26, 141, 146);
  background: linear-gradient(
    21deg,
    rgba(26, 141, 146, 1) 13%,
    rgba(19, 165, 167, 1) 34%,
    rgba(13, 183, 182, 1) 54%,
    rgba(21, 157, 160, 1) 71%,
    rgba(26, 141, 146, 1) 93%
  );
}

.profile {
  flex: 1 1 5vw;
}

.logo {
  flex: 12 12;
}

.body-wrapper {
  padding-top: 3%;
  display: flex;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.body {
  display: flex;
  align-items: flex-start;
}

.fields-col {
  flex: 1 1 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vw;
}

.map-col {
  flex: 10 10 30vw;
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  min-height: 60vh;
}

.map-label {
  color: white;
  font-size: larger;
  font-weight: 700;
}

.fields-spacer {
  flex: 1 1 5vh;
}

.map-title {
  flex: 1 1 5vh;
  font-family: "Athiti", "sans-serif";
  font-size: x-large;
  font-weight: bold;
  color: #1a8d92;
}

.fields-wrapper {
  flex: 10 10;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 2px solid #1a8d92;
  padding: 3vh 0.5vw;
  max-height: max-content;
  margin-top: 3vh;
}

#map {
  flex: 10 10;
}

.curr-fields {
  display: flex;
  flex-direction: column;
}

.field {
  cursor: pointer;
  text-align: center;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  padding: 7% 20%;
  margin: 0.5vh 0;
  /* background-color: #dadada;
    color:  rgb(39, 39, 39);
    transition: background 1s, color 1s;
    -webkit-transition: background 1s, color 1s;
    -ms-transition: background 1s, color 1s; */
  position: relative;
  background-image: linear-gradient(to right, hsl(0, 0%, 90%), hsl(0, 0%, 90%));
  color: rgb(39, 39, 39);
  z-index: 1;
  transition: color 0.5s linear;
}

.field::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-image: linear-gradient(
      to bottom,
      hsl(344, 100%, 50%),
      hsl(31, 100%, 40%)
    ); */
  background-image: linear-gradient(
    21deg,
    rgba(26, 141, 146, 1) 13%,
    rgba(19, 165, 167, 1) 34%,
    rgba(13, 183, 182, 1) 54%,
    rgba(21, 157, 160, 1) 71%,
    rgba(26, 141, 146, 1) 93%
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
}

.field:hover::before {
  /* background: rgb(26,141,146);
    background: linear-gradient(21deg, rgba(26,141,146,1) 13%, rgba(19,165,167,1) 34%, rgba(13,183,182,1) 54%, rgba(21,157,160,1) 71%, rgba(26,141,146,1) 93%);
    color: rgb(247, 247, 247); */
  opacity: 1;
}

.field:hover {
  color: rgb(247, 247, 247);
}

#add-field {
  color: #0db7b6;
  line-height: 1.2em;
}

.fields-btn {
  margin-top: 2vh;
}
